<div class="container_small-card">
    <div class="container_small-card-content">
      <div class="photo_small-card">
        <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6tp8A3tNkS_FO1bYX1NlYfmqzHnjCk-lKwdzH-T-4y6mIHZEIHoPcDqLc7ifHZEOUTO4&usqp=CAU"
        alt=""
        height="200px"
        />
    </div>

      <div class="title_small-card">
        <h1><a href="">SAIU A NOVA VERSÃO DO ANGULAR</a></h1>
      </div>
    </div>

  <div class="container_small-card-separator">
    <hr/>
  </div>

</div>





